{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header text-center mt-3 mb-4">
            <h1>Contacts</h1>
        </div>
        <div class="list-group mb-4">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Text</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.text }}</td>
                        <td><a href={{ path('admin_contact_delete', {'id': contact.id }) }} class="link-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
