{% extends 'adminbase.html.twig' %}

{% block title %}Guestbook{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header text-center mt-3 mb-4">
            <h1>Guestbook</h1>
        </div>
        <div class="list-group mb-4">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Text</th>
                    <th scope="col">Date</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.name }}</td>
                        <td>{{ comment.email }}</td>
                        <td>{{ comment.text }}</td>
                        <td>{{ comment.getCreatedAt|date('d-m-Y')}}</td>
                        <td><a href={{ path('admin_comment_delete', {'id': comment.id }) }} class="link-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
