{% extends 'adminbase.html.twig' %}

{% block title %}Tous les services{% endblock %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Tous les services</h1>
                <a href={{ path('admin_add_service') }} class="btn btn-secondary" data-toggle="modal">
                    Ajouter une nouvelle service
                </a>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="card-group">
                    {% for service in services %}
                        {% set path = 'build/images/'~ service.image %}
                        <div class="card text-center" >
                            <div class="oval"><img class="img-thumbnail" src="{{ asset(path) }}" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">{{ service.title }}</h3>
                                <p class="card-text">{{ service.text }}</p>
                                <a href="{{ path('admin_edit_service', {'id': service.id })}}" class="btn btn-warning">Modifier</a>
                                <a href="{{ path('admin_service_delete', {'id': service.id })}}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}
