{% extends 'adminbase.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header text-center mt-3 mb-4">
        <h1>Edit</h1>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form, {'attr': {'label': '', 'class': 'alert alert-danger'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.quantity) }}
        <button class="btn btn-success" type="submit">Modify</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
